
Payroll/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
*.nupkg
Payroll/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
Payroll/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
Payroll/packages/bootstrap.3.0.0/content/Content/bootstrap.css
Payroll/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
Payroll/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
Payroll/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
Payroll/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
Payroll/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
Payroll/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
Payroll/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
Payroll/packages/EntityFramework.6.1.3/content/App.config.transform
Payroll/packages/EntityFramework.6.1.3/content/Web.config.transform
Payroll/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
Payroll/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
Payroll/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
Payroll/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
